

<div class="about" id="about">
<div class="container about-content" >
  <div class="col-6 about-img">
    <img src="" alt="">
  </div>
  <div class="col-6  about-detail">
    <div class="about-inercontent">
    <h1>About <span>ME</span></h1>
    <h3>Programmer , AI Student</h3>
    <ul>
        <li> <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus, eligendi ab nemo ipsum amet, quae facilis maxime vel odit eveniet voluptatum aliquid nam natus earum veniam officia sit ipsa reiciendis! Quo sint id eos minus. Laudantium, itaque? Ex pariatur provident molestiae fugit aliquid? Incidunt, voluptas maxime nulla ipsam repellendus similique fuga asperiores porro quas totam consequuntur illum culpa? Officia distinctio impedit dolorum.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus, eligendi ab nemo ipsum amet, quae facilis maxime vel odit eveniet voluptatum aliquid nam natus earum veniam officia sit ipsa reiciendis! Quo sint id eos minus. Laudantium, itaque? Ex pariatur provident molestiae fugit aliquid? Incidunt, voluptas maxime nulla ipsam repellendus similique fuga asperiores porro quas totam consequuntur illum culpa? Officia distinctio impedit dolorum.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus, eligendi ab nemo ipsum amet, quae facilis maxime vel odit eveniet voluptatum aliquid nam natus earum veniam officia sit ipsa reiciendis! Quo sint id eos minus. Laudantium, itaque? Ex pariatur provident molestiae fugit aliquid? Incidunt, voluptas maxime nulla ipsam repellendus similique fuga asperiores porro quas totam consequuntur illum culpa? Officia distinctio impedit dolorum.</p></li>
    </ul>
   <div class="read-more"><a href=""> Read More</a></div>
    
</div>
  </div>
</div></div>