@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Atomic+Age&family=Berkshire+Swash&display=swap');

*{
    text-decoration: none;
    list-style: none;
}
mat-toolbar{
    background-color: #282828;
}
.navdiv{
    position: relative;
    height: 80px;
}
.navbar{
    padding: 0 25px;
    justify-content: center;
    
    position:fixed;
}
.logo{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Aboreto', cursive;
    justify-content: center;
    text-align: center;
    padding-left: 4%;
    color: var(--colo3);
    cursor: pointer;
    text-shadow: 0 0 .5rem currentColor;
}
.space{
    flex: 1 1 auto;
}
.pagelink{
    display: flex;
    /* margin: 0 20px; */
    margin-right: 5%;
}
.pagelink li {
    padding: 0 10px;
}
.pagelink a{
    position: relative;
   font-size: larger;  
   color: #DCDCDB;
   
}
.normal-top{
    font-family: cursive;
}

.pagelink a.active{
    color: var(--colo3);
}
.active{
    font-family: 'Atomic Age', cursive;
    font-size: x-large;
    font-weight: 600;
}
.bx-menu{
    color: white;
    font-size: 2.3rem;
    justify-content: center;
    display: none;
    cursor:pointer;
}
.pagelink .normal-top:hover{
    color: rgb(255, 255, 255);
}
.pagelink .normal-top::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color:var(--colo3);
    bottom: 0;
    transition: 0.3s;
}

.pagelink .normal-top:hover:after{
    width: 100%;
}


/* media quary */
/* this is for 1020px adjusting the navbar*/
@media only screen and (max-width: 1150px) {
    .navbar {
        padding: 0;
    }
    .logo{
        font-size: 1.8rem;
    }
    .pagelink li {
        padding: 0 5px;
  }

  }
  @media only screen and (max-width: 500px) {
    .logo{
        font-size: 1.5rem;
    }
  }

  /*for mobile view  */
  @media only screen and (max-width: 960px) {

        
        .pagelink{
            width: 100%;
            top: 100%;
            position:absolute;
            display: block;
            margin: 0;
            height:min-content;
            border-top: .1rem solid rgba(0, 0, 0, .2);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
            display: none;
            background-color: black;
            
        }
        .pagelink.active{
            display: block;
        }
       
        .pagelink li{
            font-size: 20px;
            margin: 30px 0;
        }
        .bx-menu{
            display: block;
            margin-right:  20px;
            padding-right: 20px;
        }
        .normal-top{
            font-family: cursive;
        }
        .pagelink .normal-top::after{
            
            transition: 0.25s;
        }
        

  }