    <div class="contant">
    <div class="navbar">
        <div class="logo "><h1>portfolio..</h1></div>
        <div class="topic ">
            <ul class="nav menuele">
                <li class="nav-iteam"> <a class="nav-link active" href="#">Active</a></li>
                <li class="nav-iteam"> <a class="nav-link " href="#">Home</a></li>
                <li class="nav-iteam"> <a class="nav-link " href="#">page</a></li>
                <li class="nav-iteam"> <a class="nav-link " href="#">Active</a></li>
                <li class="nav-iteam"> <a class="nav-link " href="#">Active</a></li>
            </ul>
        </div>
    </div>

</div>
