<mat-toolbar class="navbar">
    <h2 class="logo">Portfolio..</h2>
    <div class="space"></div>
    <i class='bx bx-menu' id="menu-icon"></i>
    <ul class='pagelink'>
        <li><a mat-button href="" class="active">Home</a></li>
        <li><a mat-button href="" class="normal-top">About</a></li>
        <li><a mat-button href="" class="normal-top">Certificate</a></li>
        <li><a mat-button href="" class="normal-top">Internship</a></li>
        <li><a mat-button href="" class="normal-top">Conact</a></li>
    </ul>
</mat-toolbar>