<div class="home" id="home">
<div class="container-sm">
    <div class="row home-detail">
        <div class="col promo-detail">
            <h3>Hello ,It's Me</h3>
            <h1>SHESHAN </h1>
            <h3>And I'm  <span class="auto-typing"></span>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi cum provident voluptas ea blanditiis eligendi sint aut in totam, amet, nihil reiciendis repellat numquam. Minus, consectetur ipsam expedita, laborum aperiam reiciendis quia accusamus eligendi voluptates impedit enim, laboriosam delectus excepturi exercitationem sit saepe explicabo iusto!</p>
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/sheshan9218/" target="blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/N-Sheshan" target="blank"><i class='bx bxl-github' ></i></a>
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram-alt'></i></a>
            <!-- <a href=""><i class='bx bxl-whatsapp' ></i></a> -->
                    
        </div>  
        <div class="cv">
            <a href=""><span>Download CV</span> </a>
            <img src="./assets/QRcode/cv qrcode file.png" alt="" class="qrcode">
        </div>  
    </div>
    <div class="row home-img">
        <img src="./assets/sivan2.jpg" alt="">
        <img src="./assets/splash.png" class="splash" alt="">
    </div>
</div></div>