<div class="home">
<div class="container-sm">
    <div class="row ">
        <div class="col promo-detail">
            <h3>Hello ,It's Me</h3>
            <h1>Sheshan N</h1>
            <h3>And I'm a <span>AI & DS Student</span>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi cum provident voluptas ea blanditiis eligendi sint aut in totam, amet, nihil reiciendis repellat numquam. Minus, consectetur ipsam expedita, laborum aperiam reiciendis quia accusamus eligendi voluptates impedit enim, laboriosam delectus excepturi exercitationem sit saepe explicabo iusto!</p>
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/sheshan9218/" target="blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/N-Sheshan" target="blank"><i class='bx bxl-github' ></i></a>
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram-alt'></i></a>
            <!-- <a href=""><i class='bx bxl-whatsapp' ></i></a> -->
            
            
            
            
            
        </div>    
    </div>
    <div class="row ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis exercitationem impedit minus, laudantium suscipit reprehenderit officia corrupti fugiat libero repellat! Nulla, error vel similique provident rem impedit perferendis mollitia ab animi molestias. Sit molestiae voluptatem nemo provident earum accusamus tenetur accusantium doloremque optio, eius veritatis, ullam nihil sint quod quam!</p>
    </div>
</div></div>