.home{
    background-color: var(--colo5);
    color: white;
}
.container-sm{
    padding: 8rem 5% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
    
}

.promo-detail h3{
    font-size: 1.8rem;
    font-weight: 700;
}
.promo-detail h1{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px var(--colo3);
    position: relative;
}
.promo-detail h1::before{
    content: ' SHESHAN';
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    /* margin-left:-8px ; */
    /* padding-right: -10px; */
    color: var(--colo3);
    border-right: 2px solid var(--colo3);
    transition: 1s ease-in-out;
}
.promo-detail h1:hover::before{
    width:100%;
    filter: drop-shadow(0 0 20px var(--colo3));
}
.promo-detail p{
    font-size: 1rem;
    /* line-height: 1cm; */
}
.promo-detail h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.auto-typing{
    color: var(--colo3);
    font-weight: 800;
}
.social-media i{
    font-size: 1.5rem;
    margin: 8px;
    padding: 5px;
    width: 2.8rem;
    height: 2.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--colo1);
    background-color: var(--colo8);
    transition: .3s;
    /* position: relative; */
}

.social-media i:hover{
  color: var(--colo3);
  box-shadow: 0 0 20px var(--colo6);
  text-shadow: 0 0 10px var(--colo3);
  border: 2px solid currentColor;
  transform: scale(1.2);
  background-color: var(--colo2);
} 

.cv{
   display: flex;
   align-items: center; 
   position: relative;
    width: 100%;
}

.cv a{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: var(--colo8);
    font-size: larger;
    color: var(--colo1);
    /* border: 2px solid var(--colo3); */
    position: relative;
    transition: 1s;
    overflow: hidden;
    font-weight: 500;
    margin: 10px 50px;
}
.qrcode{
    width: 120px;
    height: 110px;
    margin: 10px 50px;
}
.cv a::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    transition: all .5s ease-in-out;
    background: var(--colo3);
    transform: translate(-98%,-25%) rotate(45deg);
}

.cv a:hover::after{
    transform: translate(-9%,-25%) rotate(45deg);
    letter-spacing: 2px;
   
}
.cv a span{
    position: relative;
    z-index: 1;
    color: var(--colo2);
}



@media only screen and (max-width: 960px) {
    .container-sm{
        display: block;
    }
}
@media only screen and (max-width: 525px) {

    .cv{
        display: block;
        margin-top: 20px;
    }
    .cv a{
        display: flex;
        padding: 10px;
        width: 50%;
        justify-content: center;
    }
    .cv a::after{
        transform: translate(-90%,-35%) rotate(45deg);    
           }
}

